.home-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.display-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
