.home-container {
  padding: 40px;
}

.buttons-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.display-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
